@import "fonts"

/* font stack definition
$regular-font-stack: "Fira Sans", sans-serif
$medium-font-stack: "Fira Sans Medium", sans-serif
$website-title-font-stack: "Learning Curve Pro"

/* color definitions
$color-mint: #BFCECD
$color-dark-mint: #5A6867
$color-beige: #F5E9E4
$color-light-brown: #D1C1BA
$color-dark-brown: #52453F
$color-white: #FFFFFF

$slope-size: 6vw
$extra-padding: 2vw

body
  font: 100% $regular-font-stack
  color: $color-dark-brown
  background: $color-mint

h1
  font: 300% $medium-font-stack

h2
  font: 250% $medium-font-stack

h3
  font: 200% $medium-font-stack

#website-title
  font-size: 4.5em
  margin-top: 30px
  margin-left: 30px
  font-family: $website-title-font-stack
  font-weight: bold
  color: $color-white

/* left top, right top, right bottom, left bottom
.beige-content-block
  background: $color-beige
  clip-path: polygon(0 0, 100% $slope-size, 100% calc(100% - #{$slope-size}), 0 100%)
  position: relative
  top: -$slope-size
  margin-bottom: -$slope-size
  padding-top: $slope-size + $extra-padding
  padding-bottom: $slope-size + $extra-padding

.brown-content-block
  background: $color-light-brown
  clip-path: polygon(0 6vw, 100% 0, 100% 100%, 0 calc(100% - #{$slope-size}))
  position: relative
  top: -$slope-size
  margin-bottom: -$slope-size
  padding-top: $slope-size + $extra-padding
  padding-bottom: $slope-size + $extra-padding

#picture-holder
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - #{$slope-size}))

