<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "css.html" . }}
        {{ partial "script.html" . }}
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <p id="website-title">Florian Schrofner</p>
                </div>
            </div>

            <div class="grid-x align-center">
                <div class="cell large-10">
                    {{ with .Site.GetPage "/intro" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div>

            <div class="grid-x align-center">
                <div class="cell large-10">
                    {{ with .Site.GetPage "/section" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
