<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "css.html" . }}
        {{ partial "script_prepend.html" . }}
    </head>
    <body>
        <div class="flex twelve grow">
                <div>
                    <p id="website-title">Florian Schrofner</p>
                </div>
            </div>

            <div class="flex twelve center" id="picture-holder">
                <!-- scale image for different resolutions -->
                {{ $picture := resources.Get "images/me.png"}}
                {{ $sPicture := $picture.Resize "x100" }}
                {{ $mPicture := $picture.Resize "x400" }}
                {{ $lPicture := $picture.Resize "x600" }}
                <img class="half third-1200" src="{{$picture.Permalink}}">
            </div>

            <div class="flex twelve center beige-content-block">
                <div class="four-fifth half-1200">
                    {{ with .Site.GetPage "/intro" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div> 

            <div class="flex twelve center brown-content-block">
                <div class="four-fifth half-1200">
                    {{ with .Site.GetPage "/section" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div>

            <div class="flex twelve center beige-content-block">
                <div class="four-fifth half-1200">
                    {{ with .Site.GetPage "/section" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div>

            <div class="flex twelve center" id="footer">
                <div class="four-fifth half-1200">
                    {{ with .Site.GetPage "/footer" }}
                    {{.Content}}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ partial "script_append.html" . }}
    </body>
</html>
